
body{ background-color: #ccffe6;
}
.container{

    width: 40%;
    margin-top: 10%
    ;
    margin-left: 500px;

    }
    .btn_submit{   
        background-color: dodgerblue;   
        width: 20%;  
        color:        #80ff80;   
        padding: 15px;  
        margin: 10px;
        border-color: dodgerblue;   
        border-radius: 7px;   
        margin-left: 18%; 
        cursor: pointer;
    }
    input[type=text], input[type=password],input[type=email] {   
        width: 60%;
        margin: 6px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid green;   
        box-sizing: border-box; 
        border-radius: 10px;  
        text-align: center; 
    }    