input[type=text], input[type=password],input[type=email] {   
    width: 30%;   
    margin: 6px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box; 
    border-radius: 10px;  
  } 